{% extends "PersonalAccount.html" %}
{% load staticfiles %}

<!-- Информация профиля -->
{%  block PROFILE %}
    <div type="fields">
        <h3> Информация </h3>
        <label for="login">Логин</label>
        <input type="text" id="login" name="login" value="{{ user.username }}" readonly>

        <label for="name">Имя</label>
        <input type="text" id="name" name="name" value="{{ user.first_name }}" readonly>

        <label for="surname">Фамилия</label>
        <input type="text" id="login" name="surname" value="{{ user.last_name }}" readonly>

        <label for="email">Почта</label>
        <input type="text" id="email" name="email" value="{{ user.email }}" readonly>

        <a href="/account/changedata/"><button class="col-sm-12" type="button"> Изменить данные </button></a>
    </div>
{% endblock %}


<!-- Все тесты с описанием и числом лайков-->
{% block TESTS %}
    <div type="fields">
        <h2>Тесты</h2>
        {% for test in tests %}
            {% if test.id in finished_tests %}
                <h6><a href = "/results/{{ user.username }}/{{ test.id }}">Результаты теста {{ test.test_lesson_number}} </a></h6>
            {% else %}
                <h6><a href = "/account/{{ user.username }}/{{ test.id }}"> Тест {{ test.test_lesson_number }}</a></h6>
            {% endif %}
           <hr>
        {% endfor %}
        {% if finished_tests.length == 16 %}
            <h6><a href = "/final_results/{{ user.username }}/{{ test.id }}"> Итоговый результат </a></h6>
        {% endif %}
    </div>
{% endblock %}


<!-- Контактные данные -->
{% block CONTACTS %}
    <div class="fixedContactData">
        <hr>
        Телефон: <br>
        Еще что-то: <br>
    </div>
{% endblock %}





{% block MENU %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav"> <!-- Контент меню -->
            <li class="nav-item">
                    <a class="nav-link" href="/home/"> Главная страница </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/contact/"> Обратная связь </a>
            </li>
        </ul>
      </div>
    </nav>
{% endblock %}